.question-container{
	width: 85vw;
	margin: 0 auto;
	padding: 2rem 1rem;
}
.title{
	text-transform: uppercase;
	/* font-size: 2rem; */
	color: maroon;
	letter-spacing: 0.2rem; 
	text-align: center;
}
.single-question{
	margin: 1.5rem 0;
	padding: 1rem;
}
.question{
	margin-bottom: 1rem;
	text-transform: capitalize;
}
.answer-title{
	margin-bottom: 0.7rem;
}
.answer-title-1{
	margin: 0.7rem 0;
}
.answer{
	line-height: 1.2;
	text-align: justify;
}