.main-container{
	background-color: #ddf7fc;
}
.home-container{
	width: 85vw; 
	margin: 0 auto;
	padding: 2rem 1rem;
	min-height: 90vh;
	display: flex;
	justify-content: space-between;
	align-items: center;

}
.home-information{
	width: 50%;
}
.img-container{
	width: 40%;
}
.home-title{
	text-transform: capitalize;
	letter-spacing: 0.13rem;
	color: maroon;
	margin-bottom: 2rem;

}
.book-text{
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
	line-height: 1.2;
	letter-spacing: 0.05rem;
	text-align: justify;

}
.home-btn{
	background-color: maroon;
	color: white;
	padding: 0.8rem 2rem; 
	text-decoration: none;
	border-radius: 0.5rem; 
	font-size: 1rem;
	letter-spacing: 0.1rem;
}
.img-container img {
	/* width: 100%; */
	/* display: block; */
	border-radius: 1.5rem;
} 
@media screen and (max-width: 768px) {
	.home-container{
		display: block; 
		width: 100vw;
		padding: 2rem 0;
		padding-left: 2rem; 
		margin: 0;
	}
	.home-information{
		margin-bottom: 2rem; 
		width: 80%;
		text-align: center;
	}
	.img-container{
		width: 70%;
		text-align: center;
	}
}